<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        window.onerror = function(msg, url, linenumber) {
            alert('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+linenumber);
            return true;
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js"></script>
    <script src="distinct-colors.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>When the last</title>
    <style>
        .timer {
            cursor: pointer;
            margin: .25em;
        }

        .timer-inner {
            border-radius: .75em;
            padding: .5em

        }

        .add-timer {
            padding: .1em;
            font-size: 2.5em;
            color: silver;
            border: 1px solid silver;
            border-radius: .25em;
            text-align: center
        }
    </style>
</head>
<body class="container">
<h1>When The Last</h1>
<div id="app">
    <div id="timers" class="row">
        <div
            v-for="timer in timers"
            class="col-md-3 timer"
            style=""
            :key="timer.id"
        >
            <div
                v-bind:style="{ backgroundColor: cssColor(timer.color) }"
                class="timer-inner"
                v-on:click="actOnTimer(timer)"
            >
                <span @click="removeTimer(timer)" style="float:right">&times;</span>
                <h4>{{ timer.title }}</h4>
                <span v-if="timer.type === TYPES.timer">{{ since(timer.last) }}</span>
                <span v-if="timer.type === TYPES.toggle">{{ timer.value }}</span>
            </div>
        </div>
        <div @click="showModal=true" class="col-md-3 timer ">
            <div class="add-timer timer-inner">&plus;</div>
        </div>
    </div>

    <div v-bind:style="{ display:showModal ? 'block' : 'none' }" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Track something new!</h5>
                    <button @click="dismissModal
" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="new-title">Title</label>

                        <input id="new-title" class="form-control"
                               autofocus autocomplete="off"
                               placeholder="What do you want to track?"
                               v-model="newTimer.title">
                    </div>
                    <div class="form-group">
                        <label for="new-color">Color </label> <button @click="randomColor">Pick random</button>

                        <input type="color" id="new-color" class="form-control"
                               v-model="newTimer.color">
                    </div>
                    <div class="form-group">
                        <label for="new-type">Type</label>
                        <select id="new-type" v-model="newTimer.type" class="form-control">
                            <option :value="TYPES.timer">Timer</option>
                            <option :value="TYPES.toggle">Toggle</option>
                        </select>
                    </div>
                    <div class="form-group" v-if="newTimer.type === TYPES.toggle">
                        <label for="new-val1">Odd value</label>
                        <input id="new-val1" class="form-control" v-model="newTimer.value1">
                        <label for="new-val2">Even value</label>
                        <input id="new-val2" class="form-control" v-model="newTimer.value2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="dismissModal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" @click="addTimer">Start tracking</button>
                </div>
            </div>
        </div>
    </div>
    <small>Last update: {{ now() }} | <button @click="reset">Reset</button></small>
</div>
</body>
<script src="app.js"></script>
</html>
